* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppings", sans-serif;
      }
      .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
      }
      .title {
        display: flex;
        flex-wrap: wrap;
        border-right: 0.11em solid #4070f4;
        font-size: 5em;
        letter-spacing: 10px;
        color: #4070f4;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(25, end), cursor 0.5s step-end infinite alternate;
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      @keyframes cursor {
        from,
        to {
          border-color: transparent;
        }
        30% {
          border-color: #4070f4;
        }
      }
      .background-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1000px;
        align-items: center;
        height: 350px;
        flex-direction: column;
        background-color: #000000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60vh;
        margin: 0;
        background: #ffffff;
        padding-top: 5em;
        display: flex;
        justify-content: center;
      }
